/SIM-Lab/Lab03/nbproject/private/
/SIM-Lab/Lab03/build/
/SIM-Lab/Lab04/nbproject/private/
/SIM-Lab/Lab04/build/
/Assignment-SEM05-2019/SIMULATION/ATM_SIM/nbproject/private/
/Assignment-SEM05-2019/SIMULATION/RAIN_SIM/nbproject/private/
/Assignment-SEM05-2019/SIMULATION/RAIN_SIM/build/
/Assignment-SEM05-2019/SIMULATION/ATM_SIM/build/
/SIM-Lab/Lab05/nbproject/private/
/SIM-Lab/Lab05/build/
/SIM-Lab/Lab07/nbproject/private/
/SIM-Lab/Lab07/build/
*desktop.ini
*.o
/SIM-Lab/Lab06/nbproject/private/
/SIM-Lab/Lab06/build/
/SIM-Lab/Practice/nbproject/private/
/SIM-Lab/Practice/build/
/SIM-Lab/Practice/dist/